// >>> на связи >>>
.in-touch
    .in-touch__title
        h3.title-3 На связи:
    .in-touch__social-icons
        include ../blocks/_social-icons
    a.in-touch__email(href='mailto:dkoder.dvl@gmail.com') dkoder.dvl@gmail.com
// <<< на связи <<<
