-
    var projectCards = {
        prj001: {
            href_img: './img/projects/project-img-001.jpg',
            title: 'Верстка “Форест тревел”',
            desc: 'Верстка многостраничного сайта.',
            filters: 'filter-bootstrap filter-wordpress filter-frontend'
        },
        prj002: {
            href_img: './img/projects/project-img-002.jpg',
            title: 'Верстка “Форест тревел”',
            desc: 'Верстка многостраничного сайта.',
            filters: 'filter-bootstrap filter-wordpress filter-frontend'
        },
        prj003: {
            href_img: './img/projects/project-img-003.jpg',
            title: 'Верстка “Форест тревел”',
            desc: 'Верстка многостраничного сайта.',
            filters: 'filter-bootstrap filter-frontend'
        },
        prj004: {
            href_img: './img/projects/project-img-004.jpg',
            title: 'Верстка “Форест тревел”',
            desc: 'Верстка многостраничного сайта.',
            filters: 'filter-bootstrap filter-wordpress'
        },
        prj005: {
            href_img: './img/projects/project-img-005.jpg',
            title: 'Верстка “Форест тревел”',
            desc: 'Верстка многостраничного сайта.',
            filters: 'filter-frontend'
        }
    }

// >>> Секция проектов >>>
.section-portfolio
    .container
        .section-portfolio__title
            h2.title-2.anderline-dicoration.anderline-dicoration--midl Портфолио
        // >>> фильтр портфолио >>>
        .section-portfolio-filter
            .portfolio-filter
                ul.portfolio-filter__list
                    li.portfolio-filter__item
                        a.filter(data-filter='all', href='#!') Все работы
                    li.portfolio-filter__item
                        a.filter(data-filter='.filter-bootstrap', href='#!') Bootstrap
                    li.portfolio-filter__item
                        a.filter(data-filter='.filter-wordpress', href='#!') WordPress
                    li.portfolio-filter__item
                        a.filter(data-filter='.filter-frontend', href='#!') Frontend
        // <<< фильтр портфолио <<<
        .section-project-cards
            .project-cards
                // >>> Строка двух больших карточек >>>
                .project-cards__row
                    // >>> Карточка проекта >>>
                    +project-card(projectCards.prj001)(class="row-half")
                    // <<< Карточка проекта <<<
                    // >>> Карточка проекта >>>
                    +project-card(projectCards.prj002)(class="row-half")
                    // <<< Карточка проекта <<<
                // <<< Строка двух больших карточек <<<
                // >>> Строка трех мальнких карточек >>>
                #project-cards-list.project-cards__row
                    // >>> Карточка проекта >>>
                    +project-card(projectCards.prj003)(class="row-third mix")
                    // <<< Карточка проекта <<<
                    // >>> Карточка проекта >>>
                    +project-card(projectCards.prj004)(class="row-third mix")
                    // <<< Карточка проекта <<<
                    // >>> Карточка проекта >>>
                    +project-card(projectCards.prj005)(class="row-third mix")
                    // <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj003)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj004)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj005)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj003)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj004)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                    //// >>> Карточка проекта >>>
                    //+project-card(projectCards.prj005)(class="row-third mix")
                    //// <<< Карточка проекта <<<
                // <<< Строка трех мальнких карточек <<<
        a.project-card__link(href='#!') Смотреть все работы
// <<< Секция проектов <<<
