// >>> навыки >>>
.skills
    .skills__title
        h3.title-3 Что я умею:
    ul.skills__list
        li.skills__list-item pixel perfect, полное соответствие макету.
        li.skills__list-item верстаю с сеткой или без.
        li.skills__list-item адаптивная верстка под мобильные устройства.
        li.skills__list-item оптимизация по retina экраны
        li.skills__list-item с Bootstrap и без него.
    a.btn.skills__btn(href='#') Смотреть работы
// <<< навыки <<<
