.social-icons
    a(href='#').social-icon-github
        i.fab.fa-github
    a(href='#').social-icon-telegram
        i.fab.fa-telegram
    a(href='#').social-icon-vk
        i.fab.fa-vk
    a(href='#').social-icon-facebook
        i.fab.fa-facebook
