// >>> Секция как я работаю >>>
section.section-technology#technology
    .container
        .section-technology__title
            h2.title-2
                span.anderline-dicoration.anderline-dicoration--midl Как я
                br.br-mobile
                span.anderline-dicoration.anderline-dicoration--midl  работаю
        .technology-cards
            // >>> Карта технологии >>>
            .technology-card
                .technology-card__img-wrapper
                    .technology-card__img-box
                        img.technology-card__img(src='img/technology/technology-icon-001.png', alt='technology')
                .technology-card__main
                    .technology-card__title
                        h3.title-5.anderline-dicoration.anderline-dicoration--min Оцениваю макет
                    .technology-card__desc
                        | Оцениваю объем работы, сложность, нюансы. Задаю вопросы.
                    .technology-card__time
                        | Время: 2 - 4 часа
            // <<< Карта технологии <<<
            // >>> Карта технологии >>>
            .technology-card
                .technology-card__img-wrapper
                    .technology-card__img-box
                        img.technology-card__img(src='img/technology/technology-icon-005.png', alt='technology')
                .technology-card__main
                    .technology-card__title
                        h3.title-5.anderline-dicoration.anderline-dicoration--min
                            | ТЗ, смета и график
                            | работ
                    .technology-card__desc
                        | Согласовываем техническое задание и график работ по проекту. Осмечиваю стоимость по
                        | этапам работы.
                    .technology-card__time
                        | Время: 2 - 4 часа
            // <<< Карта технологии <<<
            // >>> Карта технологии >>>
            .technology-card
                .technology-card__img-wrapper
                    .technology-card__img-box
                        img.technology-card__img(src='img/technology/technology-icon-004.png', alt='technology')
                .technology-card__main
                    .technology-card__title
                        h3.title-5.anderline-dicoration.anderline-dicoration--min
                            | Вы держите руку на пульсе
                    .technology-card__desc
                        | Выдаю клиенту доступ к GitHub репозиторию и доске Trello. Вы в любое время можете
                        | видеть актуальное состояние проекта и задач.
                    .technology-card__time
                        | Время: 2 часа
            // <<< Карта технологии <<<
            // >>> Карта технологии >>>
            .technology-card
                .technology-card__img-wrapper
                    .technology-card__img-box
                        img.technology-card__img(src='img/technology/technology-icon-003.png', alt='technology')
                .technology-card__main
                    .technology-card__title
                        h3.title-5.anderline-dicoration.anderline-dicoration--min
                            | Выполняю каждый этап
                    .technology-card__desc
                        | Поочередно выполняю каждый этап работы. Передаю результаты. Заказчик производит
                        | поэтапную оплату.
                    .technology-card__time
                        | Время: 2 - 4 часа
            // <<< Карта технологии <<<
            // >>> Карта технологии >>>
            .technology-card
                .technology-card__img-wrapper
                    .technology-card__img-box
                        img.technology-card__img(src='img/technology/technology-icon-002.png', alt='technology')
                .technology-card__main
                    .technology-card__title
                        h3.title-5.anderline-dicoration.anderline-dicoration--min
                            | Финальное ревью
                            | проекта
                    .technology-card__desc
                        | Проект готов. Финальное ревью и полировка до идеального состояния. Передаю файлы
                        | проекта, заливаю сайт на хостинг заказчика.
                    .technology-card__time
                        | Время: 2 - 4 часа
            // <<< Карта технологии <<<
            // <<< Секция как я работаю <<<
