.footer__copyright | © 2020 — Дмитрий Фокин
.footer-desc
	| Веб-разработик из Москвы, занимаюсь версткой и созданием сайтов.
	br
	| 				Этот сайт сделал в рамках прохождения обучения по верстке на курсах от 
	a.footer-desc__link(href='https://www.webcademy.ru/') WebCademy.ru