// >>> лого >>>
.container
	// >>> верхняя часть лого >>>
	.logo
	.logo__img
		img(src="./img/dmitry-fokin-dkoder.dvl-475x410.jpg", alt='avatar')
		.logo__text
		.logo__text-name
			span.anderline-dicoration.anderline-dicoration--big Дмитрий
			br
			span.anderline-dicoration.anderline-dicoration--big Фокин
		.logo__text-desc
			p
				| Верстальщик сайтов, веб-разработчик.
				br
				| Оперативная верстка. Работаю с
				br
				| соблюдением сроков и выполнением ТЗ.
		.logo__text-links
			a.btn(href='#') Познакомиться
			a.btn.btn--2(href='#') Контакты
	// <<< верхняя часть лого <<<

	// >>> нижняя часть лого >>>
	.header__bottom-row
		.skills
			.skills__title
				h3.title-3 Что я умею:
			ul.skills__list
				li.skills__list-item pixel perfect, полное соответствие макету.
				li.skills__list-item верстаю с сеткой или без.
				li.skills__list-item адаптивная верстка под мобильные устройства.
				li.skills__list-item оптимизация по retina экраны
				li.skills__list-item с Bootstrap и без него.
			a.btn(href='#') Смотреть работы
		.in-touch
			.in-touch__title
				h3.title-3 На связи:
			ul.in-touch-social-icons
				li
					a(href='#')
						i.fab.fa-github.in-touch-social-icon.in-touch-social-icon-github
				li
					a(href='#')
						i.fab.fa-telegram.in-touch-social-icon.in-touch-social-icon-telegram
				li
					a(href='#')
						i.fab.fa-vk.in-touch-social-icon.in-touch-social-icon-vk
				li
					a(href='#')
						i.fab.fa-facebook.in-touch-social-icon.in-touch-social-icon-facebook
			a.in-touch__email(href='mailto:dkoder.dvl@gmail.com') dkoder.dvl@gmail.com
		// <<< нижняя часть лого <<<
// <<< лого <<<
