// <<< навигация <<<
.nav__wrapper
	nav.nav
		a.nav-logo.anderline-dicoration(href='#') ДФ
		ul.nav-menu
			li
				a.nav-menu__link.anderline-dicoration(href='#') Главная
			li
				a.nav-menu__link.anderline-dicoration.anderline-dicoration--link(href='#') Работы
			li
				a.nav-menu__link.anderline-dicoration.anderline-dicoration--link(href='#') Контакты
		ul.list-social-icons
			li
				a(href='#')
					i.fab.fa-linkedin-in.list-social-icons__img.list-social-icons__img--in
			li
				a(href='#')
					i.fab.fa-github.list-social-icons__img.list-social-icons__img--github
			li
				a(href='#')
					i.fab.fa-vk.list-social-icons__img.list-social-icons__img--vk
// <<< навигация <<<