.header {
	position: relative;

	margin: 0 auto;

	padding-top: 30px;
	padding-bottom: 100px;

	overflow: hidden;

	background-image: url("@{paht-img}bg/liner-5-bg.jpg");
	background-repeat: repeat-y;
	background-position: center;

	z-index: 1;

	@media (min-width: 768px) {
		padding-bottom: 80px;
		max-width: 768px;
	}

	@media (min-width: 1200px) {
		max-width: 1600px;
		padding-top: 60px;
		padding-bottom: 240px;
	}
}

.header-top-row {
	position: relative;

	margin-bottom: 10px;

	@media (min-width: 768px) {
		z-index: 2;
	}
}

.header-bottom-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: -80px;
	padding-top: 80px;

	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
}

.header-big-img {
	display: none;

	@media (min-width: 768px) {
		display: block;

		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -60px;

		z-index: -1;
	}

	@media (min-width: 1200px) {
		margin-top: -60px;
	}
}

.header-mobile-big-img {
	display: block;
	margin-top: -30px;
	margin-bottom: 30px;

	z-index: -1;

	@media (min-width: 768px) {
		display: none;
	}

	& img {
		width: 100%;
	}
}
