.header {
	position: relative;

	margin: 0 auto;

	padding-top: 30px;

	overflow: hidden;

	background-image: url("@{paht-img}bg/liner-5-bg.jpg");
	background-repeat: repeat-y;
	background-position: center;

	z-index: 1;

	@media (min-width: 768px) {
		max-width: 768px;
	}

	@media (min-width: 1200px) {
		max-width: 1600px;
		padding-top: 60px;
	}
}

.header-top-row {
	position: relative;

	margin-bottom: 10px;

	@media (min-width: 768px) {
		//margin-bottom: 360px;
		z-index: 2;
	}

	@media (min-width: 1200px) {
		//margin-bottom: 700px;
	}

	&::after {
		content: "";
		display: block;

		width: 290px;
		height: 280px;

		background-image: url("@{paht-img}bg/header-mobile-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		z-index: -2;

		@media (min-width: 768px) {
			background-image: url("@{paht-img}bg/header-desktop-bg.png");
			width: 900px;
			height: 400px;
			transform: translate(~"calc(450px - 50%)", -60px);
		}

		@media (min-width: 1200px) {
			width: 1600px;
			height: 837px;
			transform: translate(~"calc(600px - 50%)", -120px);
		}
	}
}

.header-bottom-row {
	display: flex;
	margin-bottom: 95px;
	flex-direction: column;
	justify-content: space-between;


	@media (min-width: 768px) {
		flex-direction: row;
		flex-wrap: nowrap;

		margin-bottom: 85px;
	}

	@media (min-width: 1200px) {
		transform: translateY(-140px);
		margin-bottom: 230px;
	}
}


