extends ../layouts/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block pagnav
    a(href="#header")#backTop
        i.fas.fa-angle-double-up
    ul#page-nav
        li.page-nav__active
            a(href="#header")
        li
            a(href="#projects")
        li
            a(href="#technology")
        li
            a(href="#contacts")

block header
    include ../blocks/_nav
    .container
        .header-top-row
            include ../blocks/_about-me
        .header-big-img
            img(src="img/bg/header-desktop-bg.png")
        .header-mobile-big-img
            img(src="img/bg/header-mobile-bg.png")
        .header-bottom-row
            include ../blocks/_skills
            include ../blocks/_in-touch

block content
    include ../blocks/_projects
    include ../blocks/_technology
    include ../blocks/_contacts

block footer
    .container
        include ../blocks/_footer
