extends ../layouts/main

block variables
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';
    - var pageClass = 'index-page';

block header
    include ../blocks/_nav
    .container
        .header-top-row
            include ../blocks/_about-me
        .header-bottom-row
            include ../blocks/_skills
            include ../blocks/_in-touch

block content
    section
        include ../blocks/_projects
        include ../blocks/_technology
        include ../blocks/_contacts

block footer
    .container
        include ../blocks/_footer
