* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 24px;
  }
}
.noscroll {
  overflow: hidden;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection {
  background: #fbdb4b;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
.mix {
  display: none;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    width: unset;
  }
}
.none {
  display: none;
}
.anderline-dicoration {
  position: relative;
  z-index: 2;
}
.anderline-dicoration::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  height: 10px;
  left: -5px;
  right: -5px;
  background-color: #fbdb4b;
  z-index: -1;
}
@media (min-width: 768px) {
  .anderline-dicoration::after {
    left: 10px;
    right: 10px;
  }
}
@media (min-width: 1200px) {
  .anderline-dicoration::after {
    left: -5px;
    right: -5px;
  }
}
.anderline-dicoration--midl::after {
  left: -3px;
  right: -3px;
}
@media (min-width: 768px) {
  .anderline-dicoration--midl::after {
    bottom: 9px;
    height: 12px;
  }
}
.anderline-dicoration--big::after {
  bottom: 10%;
  height: 12px;
}
@media (min-width: 768px) {
  .anderline-dicoration--big::after {
    bottom: 15%;
    left: -5px;
    right: -5px;
  }
}
@media (min-width: 1200px) {
  .anderline-dicoration--big::after {
    bottom: 20%;
  }
}
.anderline-dicoration--min::after {
  height: 0;
}
@media (min-width: 1200px) {
  .anderline-dicoration--min::after {
    bottom: 2px;
    height: 7px;
  }
}
.anderline-dicoration--link::after {
  height: 6px;
  right: unset;
  left: -5px;
  width: 0;
  transition: 0.5s;
}
.anderline-dicoration--link:hover:after {
  right: -5px;
  width: 110%;
}
.row-half {
  width: 100%;
}
@media (min-width: 768px) {
  .row-half {
    width: calc(50% - 15px);
  }
}
.row-third {
  width: 100%;
}
@media (min-width: 768px) {
  .row-third {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .row-third {
    width: calc(33% - 30px);
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  width: fit-content;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
  }
}
.title-3 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  color: #000;
  width: fit-content;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
  }
}
.title-4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  width: fit-content;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
  }
}
.title-5 {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  width: fit-content;
}
@media (min-width: 768px) {
  .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
  }
}
.btn {
  display: inline-block;
  margin-right: 20px;
  width: 100%;
  height: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  background-color: #fbdb4b;
  border: none;
  border-radius: 50px;
  transition: all 0.5s;
}
.btn:last-child {
  margin-right: 0;
}
@media (min-width: 1200px) {
  .btn {
    width: unset;
    padding: 20px 40px;
    font-size: 22px;
  }
}
.btn:hover {
  background-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
}
.btn--2 {
  height: 65px;
  padding-top: 18px;
  background-color: #fff;
  color: #464646;
  border: 2px solid #464646;
}
.btn--2:hover {
  color: #797979;
  border-color: #797979;
  background-color: #fff;
}
.btn--2:active {
  color: #181818;
  border-color: #181818;
  background-color: #fff;
}
body::selection,
input::selection,
textarea::selection,
div::selection,
a::selection,
ul li::selection,
.title-2::selection,
.title-3::selection,
.title-4::selection,
.title-5::selection {
  background: #fbdb4b;
}
.br-mobile {
  display: inline;
}
@media (min-width: 768px) {
  .br-mobile {
    display: none;
  }
}
.no-scroll {
  overflow: hidden;
}
#page-nav {
  display: none;
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
    position: fixed;
    right: 50px;
    top: 50%;
    z-index: 100;
  }
  #page-nav li {
    width: 12px;
    height: 12px;
    background-color: #039be5;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.5s;
  }
  #page-nav li a {
    display: block;
    height: 100%;
  }
  #page-nav li.page-nav__active {
    background-color: #fbdb4b;
  }
}
#backTop {
  display: none;
}
@media (min-width: 1200px) {
  #backTop {
    display: block;
    height: 56px;
    width: 25px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 40px;
    color: #fbdb4b;
  }
  #backTop:hover {
    color: #ea736d;
  }
}
.social-icons {
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 48px;
}
.social-icons a {
  line-height: 48px;
}
.social-icon-github {
  color: #212121;
}
.social-icon-telegram {
  color: #039be5;
}
.social-icon-vk {
  color: #4d76a1;
}
.social-icon-facebook {
  color: #3b5998;
}
.skills {
  width: 100%;
}
@media (min-width: 768px) {
  .skills {
    width: calc(50% - 16px);
  }
}
@media (min-width: 1200px) {
  .skills {
    width: calc(100% - 360px);
  }
}
.skills__title {
  margin-bottom: 35px;
}
.skills__list {
  padding-left: 0;
}
@media (min-width: 1200px) {
  .skills__list {
    margin-bottom: 40px;
    padding-left: 30px;
  }
}
.skills__list-item {
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
}
@media (min-width: 1200px) {
  .skills__list-item {
    font-size: 24px;
  }
}
.skills__list-item::after {
  display: none;
}
@media (min-width: 1200px) {
  .skills__list-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    height: 2px;
    width: 23px;
    background-color: #444;
  }
}
.skills__btn {
  display: none;
}
@media (min-width: 1200px) {
  .skills__btn {
    display: unset;
  }
}
.in-touch {
  width: 100%;
}
@media (min-width: 768px) {
  .in-touch {
    width: calc(50% - 16px);
  }
}
@media (min-width: 1200px) {
  .in-touch {
    width: 360px;
  }
}
.in-touch__title {
  margin-bottom: 35px;
}
.in-touch__social-icons {
  margin-bottom: 35px;
}
.in-touch__email {
  text-decoration: underline;
  font-size: 24px;
  color: #000;
  line-height: 1.2;
}
.in-touch__email:hover {
  color: #039be5;
}
.in-touch__email:active {
  color: #ed574f;
}
.header {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  background-image: url("../img/bg/liner-5-bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
  z-index: 1;
}
@media (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    padding-top: 60px;
  }
}
.header-top-row {
  position: relative;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header-top-row {
    z-index: 2;
  }
}
.header-top-row::after {
  content: "";
  display: block;
  width: 290px;
  height: 280px;
  background-image: url("../img/bg/header-mobile-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -2;
}
@media (min-width: 768px) {
  .header-top-row::after {
    background-image: url("../img/bg/header-desktop-bg.png");
    width: 900px;
    height: 400px;
    transform: translate(calc(450px - 50%), -60px);
  }
}
@media (min-width: 1200px) {
  .header-top-row::after {
    width: 1600px;
    height: 837px;
    transform: translate(calc(600px - 50%), -120px);
  }
}
.header-bottom-row {
  display: flex;
  margin-bottom: 95px;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header-bottom-row {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .header-bottom-row {
    transform: translateY(-140px);
    margin-bottom: 230px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .nav {
    margin: 0 0 80px 0;
    padding-left: 10px;
    padding-right: 20px;
    max-width: unset;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .nav {
    width: unset;
    margin: 0 auto 150px;
    max-width: 1400px;
  }
}
.nav-logo {
  position: relative;
  padding: 0 15px;
  font-size: 42px;
  color: #000000;
  line-height: 1.2;
  font-weight: 900;
}
@media (min-width: 768px) {
  .nav-logo {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .nav-logo {
    padding: 0px;
  }
}
.nav-menu {
  display: none;
}
@media (min-width: 1200px) {
  .nav-menu {
    display: flex;
  }
  .nav-menu a {
    margin-right: 80px;
    padding: 5px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
  }
  .nav-menu a:focus {
    border: 2px dotted #ea736d;
  }
  .nav-menu a:last-child {
    margin-right: 0;
  }
}
.nav-social-icons {
  display: none;
}
@media (min-width: 1200px) {
  .nav-social-icons {
    display: flex;
  }
  .nav-social-icons a {
    margin-right: 18px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #000;
  }
  .nav-social-icons a:last-child {
    margin-right: 0;
  }
}
.nav-social-icon-in:hover,
.nav-social-icon-in:active {
  color: #0077b5;
}
.nav-social-icon-github:hover,
.nav-social-icon-github:active {
  color: #6cc644;
}
.nav-social-icon-vk:hover,
.nav-social-icon-vk:active {
  color: #45668e;
}
.mobile-nav-overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(252, 228, 120, 0.75);
  z-index: 4;
}
.mobile-nav-overlay--active {
  display: block;
}
.menu-icon {
  z-index: 8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}
.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon-line {
  position: relative;
  height: 5px;
  width: 40px;
  background-color: #000;
}
.menu-icon-line::before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 40px;
  height: 5px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-line::after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 40px;
  height: 5px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.mobile-nav {
  position: absolute;
  top: 0;
  right: -550px;
  display: block;
  height: 100vh;
  width: 320px;
  background-color: #fff;
  padding: 20px 29px 0 29px;
  z-index: 7;
  transition: transform 0.4s ease-in;
}
@media (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav--active {
  transform: translate(-550px);
  transition: transform 0.4s ease-in;
}
.mobile-nav-logo {
  display: inline-block;
  margin-bottom: 40px;
}
.mobile-nav-menu {
  margin-bottom: 44px;
}
.mobile-nav-menu a {
  display: block;
  position: relative;
  margin-bottom: 22px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.mobile-nav-menu a:last-child {
  margin-bottom: 0;
}
.mobile-nav-menu a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.mobile-nav-menu a:hover:after {
  background-color: #fbdc4d;
}
.mobile-nav .social__item {
  margin-right: 20px;
}
.mobile-nav .social__item:last-child {
  margin-right: 0;
}
.mobile-nav .logo {
  margin-bottom: 25px;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about-me {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: unset;
    z-index: 2;
  }
}
.about-me__img {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 320px;
  z-index: 2;
}
@media (min-width: 768px) {
  .about-me__img {
    margin-bottom: 0;
    max-width: unset;
    width: calc(50% - 16px);
  }
}
@media (min-width: 1200px) {
  .about-me__img {
    width: 50%;
  }
}
.about-me__img img {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about-me__img img {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .about-me__img:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 78px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .about-me__img:after {
    top: 130px;
    left: 22%;
  }
}
.about-me__text {
  width: 100%;
}
@media (min-width: 768px) {
  .about-me__text {
    width: calc(50% - 16px);
  }
}
@media (min-width: 1200px) {
  .about-me__text {
    width: 50%;
    padding-top: 0;
  }
}
.about-me__text-name {
  margin-bottom: 16px;
  font-size: 42px;
  color: #000;
  font-weight: 800;
  line-height: 1;
}
@media (min-width: 768px) {
  .about-me__text-name {
    margin-bottom: 16px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .about-me__text-name {
    margin-bottom: 20px;
    font-size: 90px;
  }
}
.about-me__text-desc {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.5;
  text-shadow: 0px 3px 42.32px #fff;
}
@media (min-width: 768px) {
  .about-me__text-desc {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .about-me__text-desc {
    margin-bottom: 35px;
    font-size: 24px;
  }
}
.about-me__text-links {
  display: none;
}
@media (min-width: 1200px) {
  .about-me__text-links {
    display: flex;
    justify-content: flex-start;
  }
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
.section-portfolio__title {
  margin-bottom: 60px;
}
.portfolio-filter__list {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .portfolio-filter__list {
    display: flex;
  }
}
.portfolio-filter__item {
  margin-right: 50px;
}
@media (min-width: 1200px) {
  .portfolio-filter__item {
    margin-right: 80px;
  }
}
.portfolio-filter__item:last-child {
  margin-right: 0;
}
.portfolio-filter__item a {
  font-size: 24px;
  font-weight: 800;
  color: #8fa5ae;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .portfolio-filter__item a {
    font-size: 28px;
  }
}
.portfolio-filter__item a.active {
  color: #000;
}
.portfolio-filter__item a:hover {
  color: #ea736d;
}
.project-cards__row-first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-cards__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-card {
  margin-bottom: 65px;
}
.project-card:hover .project-card__btn {
  display: block;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-card:hover .project-card__img-wrapper::after {
  transform: translateY(0);
}
.project-card:hover .project-card__title {
  color: #ea736d;
}
.project-card__img-wrapper {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.project-card__img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #fbdb4b;
  z-index: 2;
  transition: all 0.5s;
  transform: translateY(100%);
}
.project-card__img {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fbdb4b;
}
.project-card__btn {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  width: 300px;
  transition: top 0.5s;
  transform: translateX(-50%);
  background-color: #fff;
  color: #ea736d;
  z-index: 3;
}
.project-card__btn:hover {
  background-color: #ea736d;
  color: #fff;
}
.project-card__btn:active {
  background-color: #d4423b;
  color: #fff;
}
.project-card__title {
  margin-bottom: 14px;
}
.project-card__desc {
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
  font-weight: 300;
}
@media (min-width: 768px) {
  .project-card__desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card__desc {
    font-size: 20px;
  }
}
.project-card__link {
  font-size: 20px;
  color: #039be5;
  text-decoration: underline;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .project-card__link {
    display: none;
  }
}
.section-technology {
  padding-top: 135px;
  padding-bottom: 55px;
  background-image: url("../img/bg/line-4-bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
}
.section-technology__title {
  margin-bottom: 150px;
}
.section-technology__title h2 {
  margin: 0 auto;
  text-align: center;
}
.technology-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .technology-card {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.technology-card:hover .technology-card__main .technology-card__title h3::before {
  background-color: #ea736d;
}
.technology-card .technology-card__main {
  text-align: left;
  padding-left: 0;
}
@media (min-width: 768px) {
  .technology-card .technology-card__main {
    text-align: right;
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .technology-card:nth-child(even) {
    flex-direction: row;
  }
  .technology-card:nth-child(even) .technology-card__main {
    text-align: left;
    padding-left: 40px;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .technology-card:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: -80px;
    left: calc(50% - 2px);
    width: 4px;
    height: 60px;
    background-color: #e1eef4;
    border-radius: 2px;
  }
}
.technology-card__img-wrapper {
  position: relative;
  width: 74px;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .technology-card__img-wrapper {
    margin-right: unset;
  }
}
.technology-card__img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -60px;
  left: 35px;
  width: 4px;
  height: 70%;
  background-color: #e1eef4;
  border-radius: 2px;
}
.technology-card__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.technology-card__img {
  display: block;
  width: 40px;
  height: auto;
  min-width: unset;
}
@media (min-width: 768px) {
  .technology-card__main {
    padding-top: 25px;
    width: calc(50% - 37px);
  }
}
.technology-card__title {
  margin-bottom: 10px;
}
.technology-card__desc {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .technology-card__desc {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .technology-card__desc {
    font-size: 18px;
  }
}
.technology-card__time {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .technology-card__time {
    font-size: 18px;
  }
}
.section-contacts {
  padding: 150px 0;
  background-color: #f4f8f9;
  background-image: url("../img/bg/line-5-bg-2_02.jpg");
  background-repeat: repeat-y;
  background-position: center;
  z-index: 0;
}
.section-contacts__title {
  margin-bottom: 70px;
}
.section-contacts__title h2 {
  margin: 0 auto;
  text-align: center;
}
.section-contacts__row {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
@media (min-width: 768px) {
  .section-contacts__row {
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .section-contacts__row::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -340px;
    width: 448px;
    height: 280px;
    z-index: -1;
    background-image: url("../img/bg/bg-66.png");
  }
}
@media (min-width: 768px) {
  .contacts-info-wrapper {
    width: 40%;
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .form-callback-wrapper {
    width: 338px;
  }
}
@media (min-width: 1200px) {
  .form-callback-wrapper {
    width: 50%;
    padding-left: 40px;
  }
}
.contacts-info__list-contacts-wrapper {
  margin-bottom: 45px;
}
.contacts-info__slogan {
  margin-bottom: 45px;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts-info__slogan {
    margin-bottom: 45px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts-info__slogan {
    margin-bottom: 45px;
    font-size: 20px;
  }
}
.list-contacts__item {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.list-contacts__item:last-child {
  margin-bottom: 0;
}
.list-contacts__item-lable {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .list-contacts__item-lable {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .list-contacts__item-lable {
    width: 25%;
    font-size: 20px;
  }
}
.list-contacts__item-value {
  font-size: 18px;
  color: #96969d;
  line-height: 1.2;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .list-contacts__item-value {
    font-size: 20px;
  }
}
.list-contacts__item-value-link {
  color: #039be5;
}
.contacts-info__social-icons-wrapper .social-icons {
  justify-content: flex-start;
}
.contacts-info__social-icons-wrapper .social-icons a {
  margin-right: 35px;
}
.contacts-info__social-icons-wrapper .social-icons a:last-child {
  margin-right: 0;
}
.form-callback {
  width: 100%;
  padding: 40px 15px;
  background-color: #fff;
  box-shadow: 0px 28px 40px 0px #c2dbeb;
}
@media (min-width: 768px) {
  .form-callback {
    width: 338px;
    box-shadow: 0px 28px 80px 0px #c2dbeb;
  }
}
@media (min-width: 1200px) {
  .form-callback {
    width: 511px;
    min-height: 545px;
    padding: 55px 60px 50px 65px;
    box-shadow: 0px 28px 100px 0px #c2dbeb;
  }
}
.form-callback__input-wrapper {
  position: relative;
  margin-bottom: 55px;
}
.form-callback__input {
  width: 100%;
  height: 50px;
  padding: 0 5px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  border: none;
  border-bottom: 2px solid #eaeaea;
}
.form-callback__input:active,
.form-callback__input:focus {
  border-bottom-color: #ea736d;
}
.form-callback__message-wrapper {
  position: relative;
  margin-bottom: 40px;
}
.form-callback__textarea {
  width: 100%;
  padding: 10px 5px;
  resize: none;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  border: none;
  border-bottom: 2px solid #eaeaea;
  outline: none;
}
.form-callback__textarea:active,
.form-callback__textarea:focus {
  border-bottom-color: #ea736d;
}
.fake-placeholder {
  position: absolute;
  left: 5px;
  top: 10px;
  pointer-events: none;
  font-size: 20px;
  color: #bcbcbc;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  transition: 0.5s;
}
.fake-placeholder.active {
  top: -15px;
  font-size: 16px;
  color: #ed9626;
}
.footer {
  padding: 30px 0 40px;
  background-color: #333;
}
.footer__copyright {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}
.footer-desc {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.2;
  text-decoration: underline;
}
.footer-desc__link {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 1.2;
  transition: all 0.5s;
  cursor: pointer;
}
.footer-desc__link:hover,
.footer-desc__link:active {
  color: #fff;
}

